<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="" method="post">
        {% csrf_token %} 
        <input type="text" name="" id="">
        <input type="password" name="" id="">
        <input type="submit" value="submit">
    </form>
    {% for u in user %}
        <p>{{ u.first_name }}</p>
        <p>{{ u.last_name }}</p>
        <p>{{ u.username }}</p>
        {% if u.password == '15501' %}
            <p>True</p>
        {% endif %}
    {% endfor %}
</body>
</html>